@import url(https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada);
@import '../../scss/mixins/background';

$blue-grey: #607d8b;

.home {
  @include background;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  margin: 0;

  &--visible {
    color: black;
  }

  &__headerName,
  &__linkText {
    color: inherit;
    text-transform: uppercase;
    transition: all 0.5s ease;
    white-space: nowrap;
  }

  &__headerName {
    font-size: calc(12px + 6vw);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  &__links {
    display: flex;
    margin: 0;
    margin-top: 20px;
  }

  &__link {
    margin: 0 12px;
  }

  &__linkText {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: calc(10px + 3vw);

    &:hover {
      text-shadow: 0 3px 4px $blue-grey;
    }
  }
}