@import '../../scss/mixins/background';

.resume__wrapper {
  @include background;
  min-height: 100vh;
  height: 100%;
}

.resume__content {
  border: 0;
  display: block;
  position: absolute;
  top: 5%;
}

@media (max-width: 889px) {
  .resume__content {
    height: 90vh;
    left: 5%;
    width: 90vw;
  }
}

@media (min-width: 889px) {
  .resume__content {
    height: 90vh;
    left: calc(50% - 400px);
    width: 800px;
  }
}