.about {
  @include aboutAndProjectsLayout;

  &__title {
    @include aboutAndProjectsTitleFont;
    @include mediumHeader;
    margin-top: 0;
    padding-top: 2rem;
  }

  &__details {
    line-height: 1.5;
    margin: 0 0 20px;
    max-width: 500px;
    padding: 0 20px;
    text-align: left;

    &__detailWrapper {
      @include aboutAndProjectsListItem;
      display: flex;

      @media screen and (max-width: 400px) {
        flex-direction: column;
      }
    }

    &__field {
      float: left;
      font-weight: bold;
      margin: 0;
      padding: 0;
      width: 25%;
    }

    &__value {
      float: left;
      margin: 0;
      padding: 0;
      width: 75%;
    }
  }

  &__icons {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;

    &__icon {
      @include defaultTransition(all);
      background: $lightGray;
      border: 1px solid $lightGray;
      border-radius: 10px;
      margin: 1rem;
      width: 3rem;
  
      &:hover {
        animation: shake 0.25s linear both;
        background: $homeContentBlue;
        border-color: $homeContentBlue;
      }
    }

    @media screen and (max-width: 400px) {
      align-items: center;
      flex-direction: column;

      &__icon {
        width: 6rem;
      }
    }
  }
}

$deg: 8deg;
@keyframes shake {
  25% { transform: rotate($deg); }
  75% { transform: rotate(-$deg); }
}
