@import url(https://fonts.googleapis.com/css?family=Roboto);

@mixin robotoFont($size) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 200;
}

.home {
  align-items: center;
  background: white;
  color: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;

  &--visible {
    color: black;
  }

  &__content {
    background: rgb(66,133,244);
    border-radius: 3px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.4);
    padding: 5vw;
  }

  &__headerName,
  &__linkText {
    color: white;
    text-transform: capitalize;
    transition: all 0.25s ease;
    white-space: nowrap;
  }

  &__headerName {
    @include robotoFont(calc(12px + 6vw));
    margin: 0;
  }

  &__links {
    display: flex;
    margin: 0;
    margin-top: 20px;
  }

  &__link {
    margin: 0 calc(8px + 0.8vw);
  }

  &__linkText {
    @include robotoFont(calc(10px + 3vw));
    border-top: 1px solid transparent;
    border-bottom: 1px solid white;
    transition: all 0.35s ease;

    &:hover {
      border-top-color: white;
    }
  }

  @media all and (max-width: 700px) {
    &__links {
      flex-direction: column;
      margin-top: 0;
    }

    &__link {
      margin-top: 10px;
    }
  }
}
