@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import '../../scss/mixins/background';

.home {
  @include background;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  margin: 0;

  &--visible {
    color: black;
  }

  &__headerName,
  &__linkText {
    color: inherit;
    text-transform: capitalize;
    transition: all 0.25s ease;
    white-space: nowrap;
  }

  &__headerName {
    font-size: calc(12px + 6vw);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  &__links {
    display: flex;
    margin: 0;
    margin-top: 20px;
  }

  &__link {
    margin: 0 calc(8px + 0.8vw);
  }

  &__linkText {
    border-bottom: 2px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(10px + 3vw);
    transition: all 0.25s ease;

    &:hover {
      border-bottom-color: black;
    }
  }

  @media all and (max-width: 700px) {
    &__links {
      flex-direction: column;
    }

    &__link {
      margin-top: 20px;
    }
  }
}