.projects {
  @include aboutAndProjectsLayout;
  text-align: center;

  &__mainTitle {
    @include aboutAndProjectsTitleFont;
    color: black;
    margin-top: 0;
    padding-top: 2rem;
  }

  &__divider  {
    border: none !important;
    border-top: 1px solid black !important;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
  }

  &__title {
    @include aboutAndProjectsTitleFont;
    color: black;
    margin-top: 0;
    padding-top: 1rem;
  }

  &__section {
    @include forceWidth(400px);
    padding: 0 20px;

    @media screen and (max-width: 400px) {
      @include forceWidth(100%);
    }
  }

  &__link {
    @include defaultTransition(color);
    color: black;
    text-decoration: underline;

    &:hover {
      color: $gray;
    }

    &Wrapper {
      @include aboutAndProjectsListItem;
    }

    &--inProgress {
      @include defaultTransition(color);
      color: $gray;

      &::after {
        content: ' (in progress)'
      }

      &:hover {
        color: red;
      }
    }
  }
}
