@import 'src/scss/globals';

.about {
  @include aboutAndProjectsLayout;

  &__title {
    @include aboutAndProjectsTitleFont;
    @include mediumHeader;
    margin-top: 0;
    padding-top: 2rem;
  }

  &__section {
    &__divider {
      color: rgb(120,120,120);
      margin: 25px auto;
      max-width: 250px;
      opacity: 1; // override
      width: 50vw;
    }
  }

  &__details {
    $detailWrapperWidth: 500px;
    $valueWidth: 75%;
    line-height: 1.5;
    margin: 0;
    max-width: $detailWrapperWidth;
    padding: 0 20px;
    text-align: left;
    width: 100%;

    @media screen and (max-width: #{$detailWrapperWidth + 50px}) {
      &__detailWrapper {
        flex-direction: column;
        text-align: center;
      }

      &__field,
      &__value {
        min-width: 100%;
      }
    }

    &__detailWrapper {
      @include aboutAndProjectsListItem;
      display: flex;
      max-width: 100%;

      &:last-of-type {
        margin: 0;
      }
    }

    &__title {
      font-size: 1.2em;
      min-width: 100%;
      text-align: center;
      text-decoration: underline;
      padding: 5px; // in addition to detailWrapper padding
    }

    &__field,
    &__value {
      float: left;
      margin: 0;
      padding: 0;
    }

    &__field {
      font-weight: bold;
      width: #{100% - $valueWidth};
    }

    &__value {
      width: $valueWidth;
    }
  }

  &__icons {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    &__icon {
      @include defaultTransition(all);
      background: $lightGray;
      border: 1px solid $lightGray;
      border-radius: 10px;
      margin: 1rem;
      width: 4rem;

      &:hover {
        animation: shake 0.25s linear both;
        background: $homeContentBlue;
        border-color: $homeContentBlue;
      }
    }

    @media screen and (max-width: 400px) {
      align-items: center;
      flex-direction: column;

      &__icon {
        width: 6rem;
      }
    }
  }
}

$deg: 8deg;
@keyframes shake {
  25% { transform: rotate($deg); }
  75% { transform: rotate(-$deg); }
}
