/* from time @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300); */
/* from ng2 demo @import url(https://fonts.googleapis.com/css?family=Roboto); */
@import './src/home/scss/index';
@import './src/lc3/scss/index';
@import './src/projects/scss/index';
@import './src/start/scss/index';
@import './src/current-courses/scss/CurrentCourses';
@import './src/rice-purity-test/scss/RicePurityTest';

body {
  height: 100vh;
  width: 100vw;
}

html {
    font-size: 18px;
}
