<html>
    <head>
        <title>My Awesome Project</title>
        <link href="{%= o.htmlWebpackPlugin.files.css %}" rel="stylesheet">
    </head>
    <body>
        <h1>My Application</h1>
        <script src="{%= o.htmlWebpackPlugin.files.js %}"></script>
    </body>
</html>