@import 'src/scss/globals';

.game2048 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.board {
  background: rgb(200,200,200);
  display: grid;
  padding: 4px;
}

.boardTile {
  $tileSideLength: 100px; // 40px;
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  height: $tileSideLength;
  justify-content: center;
  margin: 2px;
  padding: 6px;
  width: $tileSideLength;

  &--hasValue {
    background: rgba(150,250,255,1);
  }
}
