.heap {
  padding-bottom: 20px;
  text-align: center;

  p {
    line-height: 1em;
    margin: 0.5em;
  }

  &__input {
    display: inline-block !important;
  }

  &__value {
    background: #00ff66;
    border-radius: 2px;
	  font-weight: bold;
  }
}