$grey-lighten-1: #bdbdbd;
$grey-lighten-3: #eeeeee;

.LC3Sim {
  &__sectionTitle {
    text-decoration: underline;
  }

  &__sectionSubTitle {
    font-style: italic;
    font-weight: bold;
  }

  &__codeSample {
    font-family: monospace;
  }

  &__container {
    margin-bottom: 3rem;
  }

  &__row {
    border-bottom: 1px solid black;
  }
}
