@import 'src/scss/globals';

$gray: rgb(225,225,225);

.bingo {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  text-align: center;

  &__title {
    @include mediumHeader;
    grid-area: 1 / 1 / 2 / 3;
  }

  &__board,
  &__video {
    padding: 0 10px;
  }

  &__video {
    grid-area: 2 / 1 / 3 / 3;
    height: auto;
    width: 100%;
  }

  &__board {
    grid-area: 3 / 1 / 3 / 3;
  }
}

.board {
  &__cell {
    background: white;
    border: 1px solid $gray;
    cursor: pointer;
    text-align: center;
    padding: 20px 4px;
    width: 20%;

    &:hover {
      background-color: $gray;
    }

    &--green,
    &--green:hover {
      background: rgb(0,230,118);
    }

    &--yellow,
    &--yellow:hover {
      background: rgb(255,238,88);
    }
  }

  &__controls {
    align-items: center;
    background-color: $gray;
    display: flex;
    justify-content: space-around;
    margin: 0.25rem;
    padding: 0.5rem;

    &__section {
      margin: 16px;
    }
  }
}

// put video and board side by side for width = 1000px+
@media only screen and (min-width: 1000px) {
  .bingo__video {
    grid-area: 2 / 1 / 2 / 2;
    height: auto;
    width: 100%;
  }

  .bingo__board {
    grid-area: 2 / 2 / 2 / 2;
  }
}
