// used for background gradient
$green-accent-3: #00e676;
$cyan-accent-3: #00e5ff;

@mixin background {
  background: $green-accent-3;
  background: linear-gradient(45deg, $green-accent-3 0%, $cyan-accent-3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
