@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$iconAndTextSize: calc(1rem + 0.8vw);

.infoBar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans Narrow', sans-serif !important;
  justify-content: space-around;
  margin: 0;
  padding: 10px;

  &__item {
    font-size: $iconAndTextSize;
  }
}

.weatherForecastHeader {
  align-items: center;
  display: flex;
  font-size: $iconAndTextSize;
  justify-content: center;

  &__city {
    margin-left: 0.5rem;
  }

  &__feelsLike {
    white-space: nowrap;
  }

  &__icon {
    &--weather, &--reload {
      max-width: calc(1.2rem + 0.8vw);
      min-width: calc(1.2rem + 0.8vw);
    }

    &--reload {
      filter: FlipH;
      -ms-filter: "FlipH";
      opacity: 0.2;
      transform: scaleX(-1);
      transition: opacity .25s;

      &:hover {
        opacity: 0.5;
      }

      &::selection {
        opacity: 1;
      }
    }
  }

  &__loading {
    display: inline-block;
  }
}

.loading__icon {
  height: $iconAndTextSize !important;
  margin-left: 0.5rem;
  width: $iconAndTextSize !important;
}
