.links__collection {
  margin: 0;
  margin-top: 10px;
  padding: 0.5rem !important;

  .links__collectionItem {
    cursor: pointer;
    padding: 0.3rem !important;

    &.active {
      background-color: initial;
      color: initial;
    }
  }
}
