@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

.mainContent {
  font-family: 'PT Sans Narrow', sans-serif !important;
  display: flex;

  > * {
    margin-top: 10px;
    max-height: 95vh;
    min-height: 95vh;
    overflow-y: auto;
  }

  &--left {
    padding: 0 !important;
  }

  &--right {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

/*.weatherForecastDays {
  display: flex;
  margin: 0;
  margin-top: 10px;
  overflow-x: auto;
}

.weatherForecastDay {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 140px;
  padding: 10px 20px;

  &__line {
    font-size: 1.2rem !important;
    margin: 0;

    &:first-child {
      margin-top: 0.25rem;
    }
  }
}*/

.rssItem {
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;

  &__title {
    font-family: sans-serif;
  }

  &__description {
    color: black !important;
  }

  &:hover {
    background: #cfd8dc; // TODO @import `blue-grey lighten-4` classes directly

    .rssItem__title {
      color: red;
      text-decoration: underline;
    }
  }
}
