@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

.mainContent {
  font-family: 'PT Sans Narrow', sans-serif !important;
  padding: 0 10px !important;

  &__blocks {
    display: flex;

    > * {
      margin-top: 10px;
      max-height: 350px;
      overflow-y: auto;
    }

    &--cnn {
      flex: 1.5;
      margin-right: 10px;
    }

    &--quote {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: calc(1rem + 0.8vw);
      padding: 1.8rem;

      > * {
        // needed to make centering/scrolling work properly
        margin: auto;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;

      &--cnn {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

.weatherForecastDays {
  display: flex;
  margin: 0;
  margin-top: 10px;
  overflow-x: auto;
}

.weatherForecastDay {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 140px;
  padding: 10px 20px;

  &__line {
    font-size: 1.2rem !important;
    margin: 0;

    &:first-child {
      margin-top: 0.25rem;
    }
  }
}

.rssItem {
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;

  &__title {
    font-family: sans-serif;
  }

  &__description {
    color: black !important;
  }

  &:hover {
    background: #cfd8dc; // TODO @import `blue-grey lighten-4` classes directly

    .rssItem__title {
      color: red;
      text-decoration: underline;
    }
  }
}
