@import 'src/scss/globals';

// colors
$backgroundNormal: rgba(white,0.6);
$backgroundHover: rgba(black,0.6);
$headerBackground: rgba(10,10,10,0.9);
$borderNormal: white;
$textNormal: rgba(black,1);
$textHover: rgba(white,1);

// proportions
$infobarHeight: 60px;
$linksWidth: 15%;
$linksHeight: 70%;
$newsWidth: 40%;

.start {
  @include forceHeight(100vh);
  @include forceWidth(100vw);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: background-image 0.333s ease;
  user-select: none;

  & > * {
    border: 1px solid $borderNormal;
    border-radius: 4px;
    margin: 5px;
    position: absolute;
    transition: all 0.25s ease;
  }

  &--contentHidden {
    cursor: none;

    & > .start__info {
      transform: translate(0,-120%);
    }

    & > .start__links {
      transform: translate(-120%,0);
    }

    & > .start__weather {
      transform: translate(120%,0);
    }

    & > .start__news {
      transform: translate(-120%,120%);
    }

    & > .start__quote {
      transform: translate(120%,120%);
    }
  }

  &__links,
  &__news,
  &__weather,
  &__quote {
    background: $backgroundNormal;
    color: $textNormal;
    overflow: auto;
  }

  &__links,
  &__news {
    &__item {
      border-bottom: 1px solid $borderNormal;
      text-align: center;

      &:hover {
        background: $backgroundHover;
        color: $textHover;
        cursor: pointer;
      }
    }
  }

  &__links,
  &__weather {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__links {
    bottom: #{100% - $linksHeight};
    left: 0;
    right: #{100% - $linksWidth};
    top: $infobarHeight;
  }

  &__news {
    bottom: 0;
    left: 0;
    right: #{100% - $newsWidth};
    top: $linksHeight;
  }

  &__info {
    background: $headerBackground;
    border-bottom: 1px solid $borderNormal;
    bottom: calc(100% - #{$infobarHeight});
    color: $textHover;
    left: 0;
    right: 0;
    top: 0;
  }

  &__weather {
    bottom: #{100% - $linksHeight};
    left: #{100% - $linksWidth};
    right: 0;
    top: $infobarHeight;
  }

  &__quote {
    bottom: 0;
    left: #{100% - $newsWidth};
    right: 0;
    top: $linksHeight;
  }

  &__backgroundImagePreload {
    height: 1px;
    left: -1px;
    opacity: 0;
    position: absolute;
    top: -1px;
    visibility: hidden;
    width: 1px;
  }
}
