@import 'src/scss/globals';

@mixin iconBackground() {
  background: rgba(128,128,128,0.6);
  border-radius: 4px;
}

$headerPadding: 25px;

.weather {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $headerPadding 10px;
    position: relative;
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__reload {
    @include defaultTransition(background);
    $reloadButtonMargin: 4px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: $reloadButtonMargin;
    right: $reloadButtonMargin;
    width: $headerPadding;

    &:hover {
      background: rgb(240,240,240);
    }
  }

  &__icon {
    @include iconBackground;
    height: auto;
    margin: 5px 0;
    width: 50%;
  }

  &__temp {
    $currentTempFontSize: 1.25rem;
    $textShadowProps: 1px 1px 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;

    &--current,
    &--high,
    &--low {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
    }

    &--current {
      font-size: $currentTempFontSize;
      grid-area: 1 / 1 / 3 / 2;
      padding-right: 6px;
    }

    &--high {
      font-size: #{$currentTempFontSize * 0.6};
      grid-area: 1 / 2 / 2 / 3;
      text-shadow: $textShadowProps red;
    }

    &--low {
      font-size: #{$currentTempFontSize * 0.6};
      grid-area: 2 / 2 / 3 / 3;
      text-shadow: $textShadowProps blue;
    }
  }

  &__forecastItem {
    align-items: center;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 10px;
    width: 100%;

    &__dt,
    &__temp {
      font-size: 0.95rem;
    }

    &__dt {
      text-decoration: underline;

      &__ampm {
        font-variant: small-caps;
      }
    }

    &__icon {
      @include iconBackground;
      height: 35px;
      width: auto;
    }
  }
}
