.import {
  &__title {
    margin: 0;
    padding: 1rem 0;
  }

  &__textarea {
    height: 32vh;
    max-width: 1000px;
    vertical-align: top;
    width: 80vw;
  }

  &__button {
    margin: 1rem;
  }
}