$background: rgba(221,221,221,1);
$background--light: rgba(221,221,221,0.6);
$border: 1px solid black;
$borderRadius: 4px;
$headerHeight: 60px;

@mixin fixedHeight($size) {
  max-height: $size;
  min-height: $size;
}

@mixin snippetHeaderPiece() {
  background: $background;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  box-shadow:
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
  flex-grow: 0;
}

@mixin resultDetail() {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

.perf {
  @include fixedHeight(100vh);
  align-items: stretch;
  display: grid;
  grid-template-areas:
    "header  header"
    "form results";
  grid-template-columns: 50% 50%;
  overflow: hidden;

  &__header {
    @include fixedHeight($headerHeight);
    background: rgb(17,17,17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    margin: 0;
    text-align: center;
  }

  &__form {
    @include fixedHeight(calc(100vh - #{$headerHeight}));
    align-items: stretch;
    display: flex;
    flex-direction: column;
    grid-area: form;
    overflow: auto;
    padding: 10px;

    &__snippetHeader {
      display: flex;

      &__title {
        @include snippetHeaderPiece;
        display: flex;
        padding: 1px 10px;

        > span {
          cursor: default;

          &:first-child {
            margin-right: 4px;
          }
        }
      }

      &__spacer {
        flex-grow: 1;
        width: 100%;
      }

      &__delete {
        @include snippetHeaderPiece;
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 4px;

        &:hover {
          background: red;
          color: white;

          svg {
            fill: white;
          }
        }

        svg {
          min-width: 20px;
        }
      }
    }

    &__snippetText {
      background: $background;
      border: 0;
      box-shadow:
        0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
      margin-bottom: 10px;
      max-width: 100%;
      min-height: 120px;
      min-width: 100%;
      outline: 0;
      padding: 10px;
      transition: .2s ease-out;

      &:focus {
        background: $background--light;
        box-shadow:
          0 5px 11px 0 rgba(0,0,0,0.18),
          0 4px 15px 0 rgba(0,0,0,0.15);
      }

      &:hover {
        box-shadow:
          0 5px 11px 0 rgba(0,0,0,0.18),
          0 4px 15px 0 rgba(0,0,0,0.15);
      }
    }

    &__numberOfRuns {
      align-items: baseline;
      display: flex;
      justify-content: center;
      min-height: 80px;

      &__title {
        margin: 0;
        margin-top: 20px;
        margin-right: 10px;
      }

      &__input {
        max-width: 100px;
      }
    }
  }

  &__results {
    @include fixedHeight(calc(100vh - #{$headerHeight}));
    grid-area: results;
    min-width: 100%;
    overflow: auto;
    padding: 10px;
    text-align: center;

    &__header {
      margin: 0;
    }

    &__details {
      background: $background;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 400px;
      min-width: 300px;
      overflow: hidden;
      padding: 5px;
      width: 60%;

      &--worst {
        background: rgba(255,0,0,0.5);
        border: 2px solid red;
      }

      // if there is only one result, we want the "best" styles to override the "worst" styles, since the result is technically the fastest in the list
      &--best {
        background: rgba(0,255,0,0.5);
        border: 2px solid rgb(0,255,0);
      }

      dt,
      dd {
        @include resultDetail;
      }
    }
  }
}
