.projectsHome {
  &__background {
    height: 100%;
  }

  &__title {
    margin-top: 0;
    padding-top: 2rem;
  }

  &__link {
    display: inline-block;

    &--home, &--works {
      color: black;
      text-decoration: underline;
    }

    &--broken {
      color: gray;
      text-decoration: line-through;

      &:after {
        content: ' (under construction)';
      }
    }
  }

  &__divider  {
    padding: 0;
    border: none;
    border-top: medium double black;
    text-align: center;
  }
}
