$grey-lighten-2: #e0e0e0;

.bingo {
  margin-bottom: 0;

  &__title {
    margin: 0;
    padding: 1rem 0;
  }
}

.board {
  &__cell {
    background: white;
    border: 1px solid $grey-lighten-2;
    cursor: pointer;
    width: 20%;

    &:hover {
      background-color: $grey-lighten-2;
    }
  }

  &__controls {
    background-color: $grey-lighten-2;
    margin: 0.25rem;
    padding: 0.5rem;
  }
}

.video {
  width: 100%;
  height: auto;
}