.heapInput {
  &__form {
    align-items: baseline;
    display: flex;
    justify-content: space-around;

    &--textbox {
      width: 40%;
    }
  }

  &__sample {
    color: blue !important;
    cursor: pointer;
    text-decoration: underline !important;

    &:hover {
      text-decoration: underline;
    }
  }
}
