@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);

@import '../scss/mixins/background';

.home {
  @include background();
  height: 100vh;
  margin: 0;
}

.home__verticalAlignWrapper {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  vertical-align: top;
}

.home__header--name a,
.home__link--text {
  color: black;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  transition: all .35s ease;
  white-space: nowrap;
}

.home__header--name {
  font-size: calc(12px + 8vw);
  margin: 0;
}

.home__link:not(:last-of-type) {
  padding-bottom: 1.5rem;
}

.home__link--text {
  font-size: calc(10px + 3vw);

  &:hover {
    .home__link--letter {
      color: #1e1a1b;
      transform: rotate3d(0,1,0,360deg);
      transition: all 0.5s ease;
    }
  }

  .home__link--letter {
    display: inline-block;
    transform: rotate3d(0,1,0,0deg);
    transition: none;
  }

  @for $i from 0 to 10 {
    .home__link--letter:nth-child(#{$i}) {
      transition-delay: 0.1s * $i;
    }
  }
}