@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);

@import '../scss/mixins/background';

.home {
  @include background();
  height: 100vh;
  margin: 0;
}

.home__verticalAlignWrapper {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.home__header--name {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: calc(12px + 8vw);
  margin: 0;
  text-transform: capitalize;
  white-space: nowrap;
}

.home__link {
  padding-bottom: 1.5rem;
}

.home__link--text {
  color: black;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: calc(10px + 3vw);
  opacity: 0.6;
  text-transform: uppercase;
  transition: opacity .35s ease;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}