.rpt {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;

  &__header {
    text-align: center;

    &--small {
      font-size: initial;
    }
  }

  &__caution {
    color: red;
    font-weight: 500;
  }

  &__result {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__purity {
    color: red;
    font-size: 40px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
  }

  @media screen and (max-width: 700px) {
    &__buttons {
      flex-direction: column;

      > * {
        margin: 10px;
        padding: 0;
        text-align: center;
      }
    }
  }
}
