.collection {
  margin: 0;
  padding: 0.5rem !important;

  .collection-item {
    cursor: pointer;
    padding: 0.4rem !important;

    &.active {
      background-color: initial;
      color: initial;
    }
  }
}