@import 'src/scss/globals';

$green: rgb(46,204,64);
$yellow: rgb(255,220,0);
$red: rgb(255,65,54);

.battery {
  height: 100vh;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 3vw;
  text-align: center;
  width: 80%;

  &__title {
    @include mediumHeader;
  }

  &__level {
    align-items: center;
    border: 2px solid rgb(200,200,200);
    border-radius: 5px;
    display: flex;
    height: 15vh;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    &__background {
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      transition: background 0.2s ease-out;

      &--green {
        background: $green;
      }

      &--yellow {
        background: $yellow;
      }

      &--red {
        background: $red;
      }
    }

    &__text {
      font-size: 30px;
      font-weight: bold;
      z-index: 1;
    }
  }

  &__info {
    margin: 4px 0;
  }

  &__warning {
    color: red;
  }
}
