@import 'src/scss/globals';

.folders {
  position: relative;

  &__ul {
    margin: 0;
  }

  &__li {
    // TODO add real styles
    color: inherit;
  }

  &__row {
    align-items: center;
    cursor: default;
    display: flex;
    font-size: 0.9em;
    justify-content: flex-start;
    overflow: hidden;
    padding: 3px 0 3px 10px;
    text-overflow: ellipsis;

    &--first {
      font-size: 1em;
      padding: 8px 0 6px;
    }

    &--indent1 {
      padding-left: 20px;
    }

    &--indent2 {
      padding-left: 40px;
    }

    &--selected {
      background: rgb(240,240,240);
      border-bottom: 1px solid rgb(225,225,225);
      border-top: 1px solid rgb(225,225,225);

      & .folders__folderIcon {
        fill: $outlookDarkBlue;
      }
    }
  }

  &__newSubreddit {
    display: flex;
  }

  &__downChevronIcon,
  &__folderIcon {
    fill: rgb(150,150,150);
    margin: 0 6px 0 3px;
  }

  &__downChevronIcon {
    @include forceWidth(0.9em);

    &--hidden {
      @include forceWidth(0.9em);
      visibility: hidden;
    }
  }

  &__folderIcon {
    @include forceWidth(1.1em);
  }

  &__footer {
    align-items: center;
    border-top: 1px solid rgb(185,185,185);
    bottom: 0;
    display: flex;
    justify-content: space-around;
    left: 0;
    position: absolute;
    right: 0;

    &__icon {
      @include forceWidth(16px);
      fill: rgb(135,135,135);
      padding: 8px 0;

      &:first-of-type {
        fill: $outlookDarkBlue;
      }
    }
  }
}
