.heapDetail {
  &__button {
    margin: 0 2px;
  }

  &__treeWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  &__tree {
    display: inline-block;
    font-family: monospace;
    line-height: 1em;
    margin: 0 auto;
    padding: 20px 20px 0;
    text-align: left;
  }
}