@import 'src/scss/globals';

.options {
  background: white;
  height: 100%;
  padding: 1em 20vw;
  text-align: center;
  width: 100%;

  &__title {
    @include smallHeader;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;

    &--min {
      margin-right: 5px;
    }

    &--max {
      margin-left: 5px;
    }

    &__sliderWrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    &__slider {
      align-items: center;
      display: flex;

      :global(.form-group) {
        align-items: center;
        display: flex;
      }
    }
  }

  &__ms {
    font-weight: bold;
  }

  &__button {
    background: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 0 2px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      border: 1px solid white;
      box-shadow: none;
      color: white;
      opacity: 1;
    }

    &:hover {
      border: 1px solid red;
      color: red;
    }
  }

  input[type="range"] {
    padding: 0;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}
