$imageDimension: 40px;
$rowHeight: $imageDimension * 5 / 4;

.textTools {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;

  &__form {
    margin-bottom: 20px;
  }

  &__partyParrot {
    &__row {
      min-height: $rowHeight;
    }

    &__img {
      @include forceWidth($imageDimension);
      display: inline-block;
      min-height: $imageDimension;
    }
  }
}
