@import 'src/scss/globals';

$headerHeight: 120px;

.hue {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: $headerHeight calc(100vh - #{$headerHeight});
  height: 100vh;
  width: 100vw;

  &__header {
    grid-area: 1 / 1 / 2 / 2;
    line-height: 1.4;
  }

  &__title {
    // TODO uncomment after merged with bootstrap changes
    // @include smallHeader;
    margin-top: 20px;
    text-align: center;
  }

  &__links {
    align-items: center;
    background: rgb(240,240,240);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 500px;
    padding: 5px;

    &__link {
      color: rgb(100,100,100);
      cursor: pointer;
      text-decoration: none;

      &:hover,
      &--selected {
        text-decoration: underline;
      }

      &--selected {
        color: black;
      }
    }
  }

  &__controller {
    border: 1px solid rgb(200,200,200);
    border-radius: 6px;
    grid-area: 2 / 1 / 3 / 2;
    margin: 10px 10vw;
    overflow: auto;
    padding: 20px;
  }
}

// TODO move into own file
.hueGroups {
  // TODO made mixin (also in Light.scss)
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 33.3333% 66.6667%;
  grid-template-rows: auto;

  &__list,
  &__detail {
    overflow-y: auto;
  }

  &__list {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;

    &Item {
      background: white;
      border: 1px solid rgb(200,200,200);
      border-radius: 8px;
      cursor: pointer;
      margin: 3px;
      padding: 10px;

      &:hover,
      &--selected {
        background: rgb(240,240,240);
      }
    }
  }

  &__detail {
    grid-area: 1 / 2 / 2 / 3;

    &__controller {
      border: 1px solid rgb(200,200,200);
      border-radius: 6px;
      margin: 4px;
      padding: 10px;
    }
  }
}

.beats {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__mainControls {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    width: 100%;
  }

  &__buttons {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__basicHueControls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    & > * {
      padding: 4px 10px;
    }
  }

  &__lights {
    display: flex;

    &--fullScreen {
      bottom: 10px;
      left: 10px;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
      min-height: 0;
      min-width: 0;
      position: absolute;
      right: 10px;
      top: 10px;

      & .modal-content {
        display: flex;
        flex-direction: row;
        min-height: 100%;
      }

      // & .beatLight {
      //   @include forceWidth(50%); // TODO tim make this variable
      //   @include forceHeight(100%);
      //   border: 0;
      //   border-radius: 0;
      //   margin: 0;
      //   padding: 0;
      // }
    }
  }

  &__checkbox {
    align-items: center;
    color: rgb(180,180,180);
    display: flex;
    margin: 0;
    margin-left: 8px;

    > input {
      margin-right: 4px;
    }

    &--checked {
      color: black;
      opacity: 1;
    }
  }

  &__inputWrapper {
    width: auto;
  }

  &__input {
    max-width: 100px;
    text-align: center;
  }
}

$beatCanvasBorderRadius: 8px;
.beatCanvas {
  background: rgb(220,220,220);
  border: 1px solid black;
  border-radius: $beatCanvasBorderRadius;
  box-shadow: inset 0px 8px 20px 0px rgba(0,0,0,0.35);
  min-width: 100%;
  overflow: hidden;

  &__preview {
    border-radius: $beatCanvasBorderRadius;
  }
}

.beatLight {
  @include forceHeight(50px);
  @include forceWidth(50px);
  border: 1px solid black;
  border-radius: 25px;

  &--off {
    // opacity: 0;
  }
}

.lightTracksSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  &__leftColumn {
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: auto;
    max-width: 100%;
  }

  &__tracks {
    margin-bottom: 10px;

    & > * {
      padding: 5px;
    }
  }

  &__trackSettings {
    align-items: center;
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
  }

  &__lightIdSelectors {
    margin-left: 10px;

    &__titleRow {
      align-items: center;
      display: flex;

      & > *:first-child {
        margin-right: 10px;
      }
    }
  }

  &__lightIdButton {
    padding: 8px 16px;
  }

  &__lightsInfo {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 8px;

    & > * {
      text-align: center;
      padding: 6px;
    }

    &--details {
      font-style: italic;
    }
  }
}
