.todoList {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &--showingList {
    justify-content: flex-start;
  }

  &__contentWrapper {
    max-width: 600px;
    width: 80%;
    transform: scale(1, 1);

    &--transitioningList {
      transform: scale(0, 0);
    }

    &--transitioningInput {
      transform: scale(0, 1);
    }
  }

  &__listWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__list {
    width: 100%;
  }

  &__toggle {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
