.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &:not(:last-of-type) {
    border-bottom: 1px solid black;
  }

  &:hover {
    background: rgb(240,240,240);
  }

  &__label {
    color: black;
    text-decoration: inherit;
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
    }

    &--completed {
      color: rgb(145,145,145);
      font-style: italic;
      text-decoration: line-through;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    &--drag {
      cursor: move !important;
    }
  }

  &__dropZone {
    background: rgba(0,255,0,0.8) !important;
  }
}
