.pride {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  &__border {
    animation: marchingAntsBorder 8s linear infinite;
    border: 80px solid transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &--visible {
      $oneSixth: 100.0% / 6;
      background: linear-gradient(white, white) padding-box,
        repeating-linear-gradient(
          90deg,
          red 0,
          red #{$oneSixth},
          orange 0,
          orange #{$oneSixth * 2},
          yellow 0,
          yellow #{$oneSixth * 3},
          green 0,
          green #{$oneSixth * 4},
          blue 0,
          blue #{$oneSixth * 5},
          purple 0,
          purple #{$oneSixth * 6},
        ) 0 / 10em 10em;
    }
  }

  &__flag {
    &Column {
      @include forceWidth(1px);
      $animationDuration: 2; // keep in sync with tsx
      animation: flagWave #{$animationDuration}s infinite;
      animation-timing-function: ease-in-out;
      display: inline-block;
    }

    &Row {
      min-height: 50px;

      $backgrounds: 'red' 'orange' 'yellow' 'green' 'blue' 'purple';
      @each $background in $backgrounds {
        $i: index($backgrounds, $background) - 1;
        &#{$i} {
          background: #{$background};
        }
      }
    }
  }
}

@keyframes marchingAntsBorder {
  to {
    background-position: 100% 100%;
  }
}

@keyframes flagWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
