/*
* FONTS
*
* Roboto: Home, most of the other pages
* Frederick the Great: About/Projects
* Inconsolata: JS Clock
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700|Fredericka+the+Great|Inconsolata&display=swap);

// bootstrap styles
@import '~bootstrap/scss/bootstrap';

// global styles
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

a, a:active, a:visited, a:hover {
  color: initial;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  list-style-type: none;
}

* {
  box-sizing: inherit;
}
