@mixin defaultTransition($propertyName) {
  transition: $propertyName 0.35s ease;
}

@mixin forceHeight($height) {
  max-height: $height;
  min-height: $height;
}

@mixin forceWidth($width) {
  max-width: $width;
  min-width: $width;
}

@mixin homeTitleFont($size) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 200;
}

@mixin aboutAndProjectsLayout() {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin aboutAndProjectsTitleFont() {
  font-family: 'Fredericka the Great', sans-serif;
}

@mixin aboutAndProjectsListItem() {
  background: rgba($homeContentBlue, 0.2);
  border: 1px solid $homeContentBlue;
  border-radius: 4px;
  color: rgb(60,60,60);
  margin: 0 0 10px;
  padding: 8px;
}
