$homeContentBlue: rgb(66,133,244);
$gray: rgb(100,100,100);
$lightGray: rgb(200,200,200);

// outlook reddit client colors
$outlookLightBlue: rgba(212,233,255,0.79);
$outlookBlue: rgb(10,120,200);
$outlookDarkBlue: rgb(0,106,245);
