.projects {
  height: 100vh;

  &__nav {
    height: 5vh;
    overflow: hidden;

    li {
      line-height: 5vh;
    }
  }

  &__title {
    height: 5vh;
    text-transform: uppercase;
  }

  &__children {
    height: 95vh;
  }
}