.pTable {
  @include forceHeight(100vh);
  @include forceWidth(100vw);
  $size: $elementCardDimension + $elementCardBorderWidth * 2 + $elementCardMargin * 2 + $elementCardPadding * 2;
  align-items: center;
  background: $offBlack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__table {
    display: grid;
    grid-template-columns: repeat(18, $size);
    grid-template-rows: repeat(10, $size);
    line-height: 1.15;
  }
}
