$pink: rgb(255,10,240);
$yellow: rgb(255,255,0);
$green: rgb(20,255,0);
$blue: rgb(0,250,255);
$offBlack: rgb(25,25,25);
$elementCardBorderColor: rgb(235,235,235);
$elementCardBorderWidth: 1px;
$elementCardDimension: 40px;
$elementCardMargin: 2px;
$elementCardPadding: 4px;
