@import 'src/scss/globals';
@import './variables';

.currentElement {
  border: $elementCardBorderWidth solid $elementCardBorderColor;
  color: white;
  display: grid;
  grid-area: 1 / 4 / 3 / 12;
  grid-template-columns: #{$elementCardDimension * 2} calc(100% - #{$elementCardDimension * 2});
  grid-template-rows: 25% 25% 50%;
  margin: $elementCardMargin;
  padding: $elementCardPadding;

  &__symbol {
    font-size: 40px;
    grid-area: 1 / 1 / 2 / 3;
  }

  &__number {
    grid-area: 1 / 2 / 2 / 3;
  }

  &__name {
    grid-area: 2 / 2 / 3 / 3;
  }

  &__electrons {
    grid-area: 3 / 1 / 4 / 3;
  }

  &__electron {
    border-radius: 6px;
    color: black;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    padding: 3px 5px;

    &--s {
      background: $pink;
    }

    &--p {
      background: $yellow;
    }

    &--d {
      background: $green;
    }

    &--f {
      background: $blue;
    }

    &--plain {
      background: rgb(245,245,245);
    }
  }
}
