@import 'src/scss/globals';
@import './variables';

.element {
  &,
  &Simple,
  &Placeholder {
    cursor: pointer;
    margin: $elementCardMargin;
    text-align: center;
    white-space: nowrap;

    &:hover {
      border-color: $green;
    }
  }

  &,
  &Placeholder {
    color: white;
  }

  &Simple {
    background: white;
  }

  & {
    border: $elementCardBorderWidth solid $elementCardBorderColor;
    position: relative;

    // normal mode
    &__number,
    &__atomicWeight {
      font-size: 11px;
    }

    &__number {
      margin-top: $elementCardPadding;
    }

    &__symbol {
      font-size: 15px;
      font-weight: bold;
    }

    &__type {
      $typeIndicatorDimension: 3px;
      border-radius: $typeIndicatorDimension;
      height: #{$typeIndicatorDimension * 2};
      position: absolute;
      right: $elementCardPadding;
      top: $elementCardPadding;
      width: #{$typeIndicatorDimension * 2};
    }

    // simple mode
    &__simpleMode {
      align-items: center;
      color: black;
      display: flex;
      font-size: 15px;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }

  &Placeholder {
    align-items: center;
    border: $elementCardBorderWidth solid $green;
    display: flex;
    font-size: 12px;
    justify-content: center;

    &--1 {
      grid-area: 6 / 3 / 7 / 4;
    }

    &--2 {
      grid-area: 7 / 3 / 8 / 4;
    }
  }
}
